:root {
  --color_white: #ffffff;
  --color_gray: #777777;
  --color_black: #000000;
  --color_navy: #2b3a55;
  --color_pink1: #ce7777;
  --color_pink2: #e8c4c4;
  --color_pink3: #f2e5e5;
  --color_gray1: #ececec;
  --color_gray2: #d9d9d9;
}
