body {
  position: relative;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* a 엘리먼트의 기본스타일 초기화 */
a,
a:link {
  color: inherit;
  text-decoration: none;
}

/* 화면에 보이면 안되는 엘리먼트에 대한 hidden 클래스 */
.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  text-indent: -9999px;
}

/* 기본적으로 버튼은 커서가 포인트가되는 클래스 */
button {
  cursor: pointer;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 토글 버튼 클릭시 화면이 이동되면서,  */
.toggle {
  /* transform: translateX(-100px);
   */
  left: -600px !important;
  & button {
    background: none;
  }
}
.toggleImg {
  transform: rotate(180deg);
}
